.restaurant {
   width: 300px;
   border: 2px solid green;
   padding: 25px;
   margin: 25px;
   float: left;
}


.right {
  float: right;
  margin-right: 50px;
}

select {
  display: inline;
}

.ratings {
  position: absolute;
  top: 50%;
  right: 50%;
  text-align: center;
}
