<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title>hello World!</title>
</head>
<body>
  <header>
    <h1 class="main-title"><a href="/">hello!</a></h1>
  </header>
  <nav class="nav-container">
    <section class="main-nav">
      <ul class="nav-bar">
        <% if current_user %>
          <li><a href="/users/<%= current_user.id %>"></a> <%= current_user.username %> |</li>
          <li><a class="nav-link" href="/users/logout">Logout</a></li>
        <% else %>
          <li><a class="nav-link" href="/users/login">Login</a> |</li>
          <li><a class="nav-link" href="/users/new">Register</a></li>
        <% end %>
      </ul>
    </section>
  </nav>
  <%= yield %>
</body>
